.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/backend/build

/.idea/caches/build_file_checksums.ser
/app/fabric.properties
/app/google-services.json
/backend/src/main/webapp/WEB-INF/check-me-add47-firebase-adminsdk-5hvuz-436ce98200.json
/krystianwsul.jks
