<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.krystianwsul.checkme">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.krystianwsul.checkme.OrganizatorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ikona_tlo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.krystianwsul.checkme.gui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.krystianwsul.checkme.gui.tasks.ShowTaskActivity" />
        <activity android:name="com.krystianwsul.checkme.gui.instances.ShowGroupActivity" />
        <activity android:name="com.krystianwsul.checkme.gui.instances.ShowNotificationGroupActivity" />
        <activity android:name="com.krystianwsul.checkme.gui.instances.ShowInstanceActivity" />
        <activity android:name="com.krystianwsul.checkme.gui.customtimes.ShowCustomTimeActivity" />
        <activity android:name="com.krystianwsul.checkme.gui.tasks.CreateRootTaskActivity" />
        <activity android:name="com.krystianwsul.checkme.gui.tasks.CreateChildTaskActivity" />
        <activity android:name="com.krystianwsul.checkme.gui.instances.EditInstanceActivity" />

        <receiver
            android:name="com.krystianwsul.checkme.notifications.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.krystianwsul.checkme.notifications.TickService"
            android:exported="false" />
        <service
            android:name="com.krystianwsul.checkme.persistencemodel.SaveService"
            android:exported="false"/>

        <receiver
            android:name="com.krystianwsul.checkme.notifications.TimeChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.krystianwsul.checkme.notifications.GroupNotificationDeleteService"
            android:exported="false" />
        <service
            android:name="com.krystianwsul.checkme.notifications.InstanceDoneService"
            android:exported="false" />
        <service
            android:name="com.krystianwsul.checkme.notifications.InstanceHourService"
            android:exported="false" />
        <service
            android:name="com.krystianwsul.checkme.notifications.InstanceNotificationDeleteService"
            android:exported="false" />

    </application>

</manifest>